#top_header {
    background-color: #0000003d;
  }
  #top_header ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  #top_header ul li {
    display: inline-block;
    padding: 0 1rem;
  }
  #top_header ul li:first-child {
    padding-left: 0;
  }
  
  #main_header .logo-container-left, #main_header .logo-container-right {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: left;
            justify-content: left;
    -webkit-box-align: center;
            align-items: center;
  }
  #main_header .logo-container-right {
    -webkit-box-pack: right;
            justify-content: right;
  }
  #main_header .office_name_container {
    display: grid;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  @media (max-width: 768.98px) {
    #main_header .logo-container-left, #main_header .logo-container-right {
      -webkit-box-pack: center;
              justify-content: center;
    }
  }
  
  #navigation_section #slide-navbar-collapse ul {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 992px) {
    #navigation_section #slide-navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      width: 280px;
      height: 100vh;
      background-color: #002c58;
      overflow: auto;
      padding-left: 1rem;
    }
    #navigation_section .menu-overlay {
      display: none;
      background-color: #000;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      filter: alpha(opacity=50);
      /* IE7 & 8 */
      position: fixed;
      right: 0;
      top: 0;
      z-index: 49;
    }
  }
  #navigation_section .dropdown-menu {
    background-color: #002c58;
    color: #f8fafc;
  }
  #navigation_section .dropdown-menu .dropdown-item {
    color: #f8fafc;
  }
  #navigation_section .dropdown-menu .dropdown-item:hover {
    color: #002c58;
  }
  
  #top_slider .flex-direction-nav a::before {
    font-size: 32px;
  }
  #top_slider .flex-caption {
    width: 100%;
    padding: 4%;
    left: 0;
    bottom: 0;
    background: #002c58 !important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 20px;
  }
  #top_slider .flexslider {
    margin: 0;
    background-color: transparent;
    border-color: #f8fafc;
  }
  
  .members ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: transparent;
  }
  .members ul .list-group-item {
    border: none;
    background-color: transparent;
    padding: 0.75rem 0;
  }
  .members ul .list-group-item p {
    margin: 0;
  }
 
  #body_section #ticker_section #ticker_container {
    background-color: antiquewhite;
  }
  #body_section #ticker_section #ticker_container .item {
    display: grid;
    -webkit-box-align: center;
            align-items: center;
  }
  #body_section #top_nav .nav-pills .nav-link.active, #body_section #top_nav .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #002c58;
  }
  #body_section #top_nav .nav-link {
    padding: 0.5rem 0.1rem;
  }
  #body_section #top_nav .list-group-item {
    padding: 0.5rem 1rem;
    border-right: none;
    border-left: none;
  }
  #body_section #top_nav .events {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
  }
  #body_section #top_nav .events .event_date {
    font-size: 0.75rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
  }
  #body_section #top_nav .events .event_date .year {
    background-color: #002c58;
    color: #f8fafc;
    padding: 0 0.5rem;
  }
  #body_section #top_nav .events .event_content {
    line-height: 1.3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  #body_section #sidebar_section .events {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
  }
  #body_section #sidebar_section .events .event_date {
    font-size: 0.75rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
  }
  #body_section #sidebar_section .events .event_date .year {
    background-color: #002c58;
    color: #f8fafc;
    padding: 0 0.5rem;
  }
  #body_section #sidebar_section .events .event_content {
    line-height: 1.3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  #body_section #sidebar_section .events .event_date {
    font-size: 1rem;
  }
  #body_section .breadcrumb {
    background-color: #faebd7;
  }
  #body_section #ticker_title {
    background-color: #bd0911;
    color: #f8fafc;
    display: grid;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  #body_section .custom-btn-primary {
    background-color: #f8fafc;
    color: #002c58;
    border-radius: 2rem;
    border-color: #002c58;
  }
  #body_section .custom-btn-primary:hover {
    background-color: #002c58;
    color: #f8fafc;
  }
  #body_section .search {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: 1px solid #002c58;
  }
  #body_section .introduction-links, #body_section .dynamic-content-links .important-links, #body_section .dynamic-home-links .important-links {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #body_section .introduction-links a, #body_section .dynamic-content-links .important-links a, #body_section .dynamic-home-links .important-links a {
    padding: 2rem;
    border: 1px solid #343a40;
    display: grid;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  #body_section .introduction-links a:hover, #body_section .dynamic-content-links .important-links a:hover, #body_section .dynamic-home-links .important-links a:hover {
    text-decoration: none;
    background-color: #002c58;
    color: #f8fafc;
  }
  #body_section .dynamic-content-links .important-links, #body_section .dynamic-home-links .important-links {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #body_section .dynamic-content-links .important-links a, #body_section .dynamic-home-links .important-links a {
    border: none;
    box-shadow: rgba(0, 44, 88, 0.1) 0 2px 5px 2px;
    padding: 1rem 0.5rem;
    background-color: #002c58;
    color: #ffffffab;
    letter-spacing: 1px;
    line-height: 1.5;
    text-decoration: none;
  }
  #body_section .dynamic-content-links .important-links a:hover, #body_section .dynamic-home-links .important-links a:hover {
    background-color: transparent;
    color: #002c58;
  }
  #body_section #gallery_section {
    background-color: #002c58;
    color: #f8fafc;
  }
  #body_section #gallery_section .owl-nav {
    font-size: 3rem;
    position: absolute;
    top: -38px;
    right: 0;
    line-height: 0;
    background-color: transparent;
  }
  #body_section #gallery_section .owl-nav .owl-prev:hover, #body_section #gallery_section .owl-nav .owl-next:hover {
    background-color: transparent;
  }
  #body_section #gallery_section .custom-btn-primary:hover {
    border-color: #f8fafc;
  }
  #body_section #gallery_section .google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: auto;
  }
  #body_section #gallery_section .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  #body_section #mapAndContact {
    font-size: 1rem;
  }
  #body_section #mapAndContact #contact_section input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 16px;
  }
  #body_section #mapAndContact #contact_section textarea {
    width: 100%;
    margin-bottom: 16px;
    padding: 1rem;
  }
  #body_section #mapAndContact #contact_section #submit-btn {
    background-color: transparent;
    border-color: #002c58;
  }
  #body_section #mapAndContact #contact_section #submit-btn:hover {
    background-color: #002c58;
    color: #f8fafc;
  }
  #body_section #mapAndContact #map_section h1 {
    font-weight: 900;
  }
  #body_section #mapAndContact #map_section .google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
  #body_section #mapAndContact #map_section .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  
  #footer_section .list-group .list-group-item {
    border: none;
    padding: 0.5rem 0;
    text-decoration: none;
    background-color: #0000008a;
    color: #fefeffb8;
  }
  #footer_section .list-group .list-group-item a {
    color: #fefeffb8;
    text-decoration: none;
  }
  #footer_section .list-group .list-group-item a:hover {
    text-decoration: none;
    color: #bd0911;
  }
  #footer_section .list-group .list-group-item .fa-stack {
    font-size: 1rem;
  }

  .parallax-container-1{
    background: #000;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(./assets/para1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 2rem;
  }
  .parallax-container-2{
    background: #000;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(./assets/para2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 2rem;
  }
  #footer_section{
    background: #000;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(./assets/para3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-container-2 .accordion-button.collapsed {
    background: #0000004a;
    color: #ffffffab;
  }
  
  .parallax-container-2 .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
  }
  
  .parallax-container-2 .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
  }
  .parallax-container-2 .accordion-item {
      background-color: #2220209e;
  }
  .parallax-container-2 .accordion-button:not(.collapsed) {
    color: #ffffffed;
    background-color: #00000096;
  }
  .parallax-container-2 .accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    box-shadow: 0 0 0 0.25rem rgb(133 133 133 / 25%);
}

  .parallax-container .introduction-links a{
    text-decoration: none;
    background: #0000008c;
    color: #fff;
  }